<!DOCTYPE html>
<html lang="{{site_lang_code}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page_title}} | {{site_title}}</title>
    <meta name="description" content="{{og_description}}">
    <meta property="og:title" content="{{page_title}}">
    <meta property="og:description" content="{{og_description}}">
    <meta property="og:type" content="{{og_type}}">
    <meta property="og:url" content="{{site_url}}/{{page_url}}">
    {{og_image}}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{page_title}}">
    <meta name="twitter:description" content="{{twitter_description}}">
    {{twitter_image}}
    <meta name="theme-color" content="#808080">
    <link rel="stylesheet" href="{{site_url}}/css/style.css">
    <link rel="alternate" type="application/rss+xml" title="{{rss_feed}}" href="{{site_url}}/{{rss_filename}}">
    {{schema_json_ld}}
    {{custom_css_link}}
</head>
<body>
    <div class="container">
        <header>
            <div class="site-title"><a href="{{site_url}}/">{{site_title}}</a></div>
            <p>{{site_description}}</p>
            <nav>
                {{menu_items}}
            </nav>
        </header>
        <main> 
